<mat-card *ngIf="searchResult?.location" class="card" appPreviewCard [previewSize]="820" >
  <mat-card-header>
    <mat-card-title class="card-city">{{searchResult?.location?.name}}<span>GB</span></mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-weather">
    <div class="card-value">{{searchResult?.current?.temp_c}}<sup>c</sup></div>
    <img class="card-img" src="{{searchResult?.current?.condition?.icon}}" alt="Weather">
  </mat-card-content>
  <mat-card-footer class="card-description" >
    {{searchResult?.current?.condition?.text}}
  </mat-card-footer>
</mat-card>
