.card {
  position: relative;
  margin: 0 auto;
  width: 360px;
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(49, 17, 73, 0.25);

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card::before {
  content: '';
  position: absolute;
  left: 15px;
  bottom: -10px;
  z-index: -1;
  width: calc(100% - 30px);
  height: 100%;
  box-shadow: 0 5px 20px 0 rgba(42, 14, 61, 0.25);
  border-radius: 6px;
}

.card-city {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0;
}

.card-city span {
  vertical-align: text-top;
  padding: 3px 5px;
  border-radius:  6px;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  background-color: #E5464F;
}
.card-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-value {
  font-weight: 500;
  line-height: 1.18;
  font-size: 92px;
}

.card-value sup{
  font-size: 3rem;
}

.card-description {
  font-size: 20px;
  line-height: 1.2;
}
